<h2 id="title">Welcome to Ember Labs Maps</h2>

{{#labs-style-factory
  baseStyle=model.meta.mapboxStyle
  layerGroups=model.layerGroups as |factory|}}
  {{labs-map
    id='main-map'
    mapLoaded=(action 'handleMapLoad')
    initOptions=initMapOptions 
    style=factory.style}}
{{/labs-style-factory}}

{{outlet}}
